/*Website as a Whole*/
body {
    overflow-x:auto;
}
#head, #navbar, #intro, .favorite-item {
    display:flex;
}
/*Head of website*/
#head {
    justify-content:space-around;
    margin-bottom:10px;
}
#name, #signIn, #slogan, #location {
    align-self:center;
}
#navbar {
    justify-content:space-evenly;
}
#signIn {
    display:grid;
}
#logIn, #signUp, .links {
    text-decoration:none;
    color:black;
}
#logIn:hover, #signUp:hover, .links:hover {
    color:#8E614A;
}
.links {
    font-weight: bold;
    font-size:18px;
    transition:color 0.3s ease-in-out;
}
/*Main portion*/
#slogan {
    text-align: center;
    margin-bottom:1rem;
    margin-right:1rem;
}
#intro {
    justify-content:space-evenly;
}
.favorite-item {
    background-color:#8E614A;
    margin-left:auto!important;
    margin-right:auto!important;
    margin-top:1rem;
    margin-bottom:1rem;
    max-width:1500px;
    justify-content:space-between;
    color:white;
}
.itemImage {
    max-width:100%;
    height:auto;
}
.imag {
    width:50%;
    height:auto;
    text-align:center;
}
.description {
    width:50%;
    align-self:center;
    text-align:center;
}
.description p {
    font-size:larger;
    margin-left: 2rem;
    margin-right: 2rem;
}
.description button {
    background-color:#8E614A;
    color:white;
    border-radius:30px;
    border-style:solid;
    border-color:white;
    transition:0.3s ease-in-out;
    padding:10px;
}
.description button:hover {
    background-color:rgba(214, 214, 214, 0.315);

}
@media (max-width: 770px) {
    .favorite-item {
        display:block;
        width:100%;
    }
    .imag {
        width:100%;
        margin-bottom:1rem;
    }
    .description {
        width:100%;
        text-align:center;
        padding-bottom:1rem;
    }
}